@navBar("Home Page") {
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>






		<nav id="nav">
			<div class="innertube">
        <br>
			<h3>Search</h3>
			<ul>
				<li>Company</a></li>
				<li><input type="text" name="company"><br></li>
        <li><br></li>
				<li>Date Range:</li>
				<li>Start: </li>
        <li> <input type="text" name="startdate"></a></li></li>
				<li>End: </li>
        <li>  <input type="text" name="enddate"></li>
          <li><br></li>
        <li><button> Start Search </button></li>
			</ul>


			</div>
		</nav>


</body>
</html>
}