@(clubs: List[Clubs], internships: List[Interning], schools: List[Schooling], skills: List[Skills], pdfs: List[ResumePDF], resumeID: Long)

@navBar("Update Resume") {

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<br>
<br>
<p hidden id="resumeId">@resumeID</p>
<div id="informationEntry">
    <div class="editContainer">
        <div class="editView">
            <h1>Clubs</h1>

            @for(c <- clubs) {

                <h2>@c.getName()</h2><br>

                @c.getDesc()
                <p hidden id="club-@c.getID()">c.getID()</p><br>

                <button type="button" class="btn btn-danger" onclick="deleteObject('club', @c.getID())">Delete Club</button>

            }

        </div>
        <div class="editEdit">
            <h1>Add Club To Resume</h1>
            <div>
                Club Name <br>
                <input type="text" class="form-control" name="clubName" id="clubName"><br>
                Club Description <br>
                <input type="text"class="form-control" name="clubDescription" id="clubDesc"><br>
                <button type="button" class="btn btn-success" id="clubSubmitButton" onclick="addClub()">Add Club</button>
            </div>
        </div>
    </div>
    <br>
    <div class="editContainer">
        <div class="editView">
            <h1> Internships </h1>
            @for(c <- internships) {
            <h2>@c.getInternCompany()</h2><br>
            @c.getPosition()<br>
            @c.getDescription()
            <p hidden id="internship-@c.getID()">c.getID()</p><br>
            <button type="button" class="btn btn-danger" onclick ="deleteObject('internship', @c.getID())">Delete Internship</button>
            }
        </div>
        <div class="editEdit">
            <h1>Add Internship To Resume</h1>
            <div>
                Internship Company <br>
                <input type="text" class="form-control"name="internCompany" id="internCompany"><br>
                Intern Position <br>
                <input type="text"class="form-control" name="internPosition" id="internPosition"><br>
                Internship Description <br>
                <input type="text" class="form-control" name="internDescription" id="internDescription"><br>
                <button type="button" class="btn btn-success" id="internSubmitButton" onclick="addIntern()">Add Internship</button>
            </div>
        </div>
    </div>
    <br>
    <div class="editContainer">
        <div class="editView">
            <h1> Schooling </h1>
            @for(c <- schools) {
            <h2>@c.getSchoolName()</h2><br>
            @c.getMajor()
            <p hidden id="school-@c.getID()">c.getID()</p><br>
            <button type="button" class="btn btn-danger" onclick="deleteObject('school', @c.getID())">Delete School</button>
            }
        </div>
        <div class="editEdit">
            <h1>Add School To Resume</h1>
            <div>
                School Name <br>
                <input type="text" class="form-control" name="schoolName" id="schoolName"><br>
                School Major<br>
                <input type="text" class="form-control" name="schoolMajor" id="schoolMajor"><br>
                <button type="button" class="btn btn-success" id="schoolSubmitButton" onclick="addSchool()">Add School</button>
            </div>
        </div>
    </div>
    <br>
    <div class="editContainer">
        <div class="editView">
            <h1> Skills </h1>
            @for(c <- skills) {
            @c.getSkillField()<br>
            <p hidden id="skill-@c.getID()">c.getID()</p><br>
            <button type="button" class="btn btn-danger" onclick="deleteObject('skill', @c.getID())">Delete Skill</button>
            }
        </div>
        <div class="editEdit">
            <h1>Add Skills To Resume</h1>
            <div>
                Applicable Skills <br>
                <input type="text" class="form-control" name="skillField" id="skillField"><br>
                <button type="button" class="btn btn-success"  id="skillSubmitButton" onclick="addSkills()">Add Skills</button>
            </div>
        </div>
    </div>
    <div class="editContainer">
        <div class="editView">
            <h1> PDFs </h1>
            @for(c <- pdfs) {
                <a href="@c.getPdfAWSPath()" target="_blank">Download PDF</a>
            <button type="button" class="btn btn-danger" onclick="deletePDF(@c.getPdfID())">Remove PDF</button>
            <br>

            }
        </div>
        <div class="editEdit">
            <form action="@routes.EditorController.uploadFileToS3(resumeID)" enctype="multipart/form-data" method="post">
                @helper.CSRF.formField
                <input type="file" name="pdf"><br>
                <input type="text" name="resumeID" value="@resumeID" hidden>
                <input class="btn btn-success"  type="submit">
            </form>

        </div>
    </div>



    <br>

    <br>

    <center>
        <div class="buttonSpacer"></div>
    </center>
</div>
<center>
    <button onclick="returnToResume()">Return To Resume</button>
</center>
<div class="buttonSpacer"></div>

<script type="text/javascript">

    function returnToResume() {
        console.log("Returning to resume view");
        var resumeID = document.getElementById("resumeId").innerText;
        var newURL = "/resume/resume=" + resumeID;
        window.location.href = newURL;
    }

    function deleteObject(object, objectID) {
        console.log("Deleting" + object);

        var resumeID = document.getElementById("resumeId").innerText;

        var data = {"objectType" : object,
                    "objectID" : objectID,
                    "resumeID" : resumeID};

        var token =  $('input[name="csrfToken"]').attr('value')
        $.ajaxSetup({
            beforeSend: function(xhr) {
                xhr.setRequestHeader('Csrf-Token', token);
            }
        });

        $.ajax({
            type : 'POST',
            url : '@routes.EditorController.deleteObject',
            data : JSON.stringify(data),
            dataType: 'html',
            contentType: 'application/json',
            success : function(data) {
                console.log("Object Deleted");
                alert(object + " Deleted");
                var newURL = "/resume/edit/resume=" + data;
                window.location.href = newURL;
            },
            error : function(data) {
                console.log("Could not submit");

                alert("Something went wrong, please try again later!")
            }
        });
    }

    function deletePDF(pdfID) {
        var data = {"pdfID" : pdfID};

        var resumeID = document.getElementById("resumeId").innerText;

        var token =  $('input[name="csrfToken"]').attr('value')
        $.ajaxSetup({
            beforeSend: function(xhr) {
                xhr.setRequestHeader('Csrf-Token', token);
            }
        });

        $.ajax({
            type : 'POST',
            url : '@routes.EditorController.deletePDF',
            data : JSON.stringify(data),
            dataType: 'html',
            contentType: 'application/json',
            success : function(data) {
                console.log("Object Deleted");
                alert("PDF Deleted");
                var newURL = "/resume/edit/resume=" + resumeID;
                window.location.href = newURL;
            },
            error : function(data) {
                console.log("Could not delete");

                alert("Something went wrong, please try again later!")
            }
        });
    }



    function addClub() {
        console.log("Adding Club to Database Mapping");
        var clubName  = document.getElementById("clubName").value;

        console.log(clubName);
        var clubDescription = document.getElementById("clubDesc").value;
        var resumeID = document.getElementById("resumeId").innerText;
        var data = {"clubName" : clubName,
                    "clubDescription" : clubDescription,
                    "resumeID" : resumeID};
        var token =  $('input[name="csrfToken"]').attr('value')
        $.ajaxSetup({
            beforeSend: function(xhr) {
                xhr.setRequestHeader('Csrf-Token', token);
            }
        });

        $.ajax({
            type : 'POST',
            url : '@routes.EditorController.addClubToResume',
            data : JSON.stringify(data),
            dataType: 'html',
            contentType: 'application/json',
            success : function(data) {
                console.log("Club Added To Resume");
                alert("Club submitted!");
                var newURL = "/resume/edit/resume=" + data;
                window.location.href = newURL;
            },
            error : function(data) {
                console.log("Could not submit");

                alert("Something went wrong, please try again later!")
            }
        });
    }

    function addIntern() {
        console.log("Adding Internship to Database Mapping");
        var company  = document.getElementById("internCompany").value;
        var position = document.getElementById("internPosition").value;
        var description = document.getElementById("internDescription").value;
        var resumeID = document.getElementById("resumeId").innerText;
        var data = {"internCompany" : company,
                    "internPosition" : position,
                    "internDesc" : description,
                    "resumeID" : resumeID};

        var token =  $('input[name="csrfToken"]').attr('value')
        $.ajaxSetup({
            beforeSend: function(xhr) {
                xhr.setRequestHeader('Csrf-Token', token);
            }
        });

        $.ajax({
            type : 'POST',
            url : '@routes.EditorController.addInternshipToResume',
            data : JSON.stringify(data),
            dataType: 'html',
            contentType: 'application/json',
            success : function(data) {
                console.log("Internship Added To Resume");
                alert("Internship submitted!");
                var newURL = "/resume/edit/resume=" + data;
                window.location.href = newURL;
            },
            error : function(data) {
                console.log("Could not submit");

                alert("Something went wrong, please try again later!")
            }
        });
    }

    function addSchool() {
        console.log("Adding Schooling to Database Mapping");
        var school  = document.getElementById("schoolName").value;
        var major = document.getElementById("schoolMajor").value;
        var resumeID = document.getElementById("resumeId").innerText;
        var data = {"schoolName" : school,
                    "schoolMajor" : major,
                    "resumeID" : resumeID};

        var token =  $('input[name="csrfToken"]').attr('value')
        $.ajaxSetup({
            beforeSend: function(xhr) {
                xhr.setRequestHeader('Csrf-Token', token);
            }
        });

        $.ajax({
            type : 'POST',
            url : '@routes.EditorController.addSchoolToResume',
            data : JSON.stringify(data),
            dataType: 'html',
            contentType: 'application/json',
            success : function(data) {
                console.log("School Added To Resume");
                alert("School submitted!");
                var newURL = "/resume/edit/resume=" + data;
                window.location.href = newURL;
            },
            error : function(data) {
                console.log("Could not submit");

                alert("Something went wrong, please try again later!")
            }
        });
    }

    function addSkills() {
        console.log("Adding Skills to Database Mapping");
        var skills  = document.getElementById("skillField").value;
        var resumeID = document.getElementById("resumeId").innerText;
        var data = {"skillField" : skills,
                    "resumeID" : resumeID};

        var token =  $('input[name="csrfToken"]').attr('value')
        $.ajaxSetup({
            beforeSend: function(xhr) {
                xhr.setRequestHeader('Csrf-Token', token);
            }
        });

        $.ajax({
            type : 'POST',
            url : '@routes.EditorController.addSkillsToResume',
            data : JSON.stringify(data),
            dataType: 'html',
            contentType: 'application/json',
            success : function(data) {
                console.log("Skills Added To Resume");
                alert("Skills submitted!");
                var newURL = "/resume/edit/resume=" + data;
                window.location.href = newURL;
            },
            error : function(data) {
                console.log("Could not submit");

                alert("Something went wrong, please try again later!")
            }
        });
    }
</script>

}
