@(resumes: List[Resume], company: Company, companies: List[Company])

@navBar("Search Results") {
<!DOCTYPE html>
<html>
@helper.CSRF.formField
<br>
<br>
<nav id="nav">
    <div class="innertube">
        <br>
        <br>

        <h2>Search</h2>
        <ul>
            <h3>Company</h3>
            <li><select class="btn btn-secondary dropdown-toggle"data-toggle="dropdown"  aria name="company" id="companyName" style="width: 80%">
                <option></option>
                @for(a <- companies) {
                    <option>@a.getCompanyName()</option>
                }
            </select><br></li>
            <li><br></li>
<!--            <li>Date Range:</li>-->
<!--            <li>Start: </li>-->
<!--            <li> <input type="text" name="startdate"></a></li></li>-->
<!--            <li>End: </li>-->
<!--            <li>  <input type="text" name="enddate"></li>-->
<!--            <li><br></li>-->
            <li><button class="btn btn-primary" id="searchButton" onclick="searchByCompanyName()"> Search Again </button></li>
        </ul>


    </div>
</nav>

<div id="results">
    <h1>
        <center>Search Results</center>
    </h1>
    <ul>
        @for(a <- resumes) {
          <div class="resultCard">
                <a href='/resume/resume=@a.getResumeID()'>Resume Result for @company.getCompanyName()</a>
          </div>
        }
    </ul>
</div>

</body>

<script type="text/javascript">
    function searchByCompanyName() {
        console.log("Searching for Company Name in Database");
        var companyName = document.getElementById("companyName").value;
        var data = {"companyName" : companyName};

        var token =  $('input[name="csrfToken"]').attr('value')
        $.ajaxSetup({
            beforeSend: function(xhr) {
                xhr.setRequestHeader('Csrf-Token', token);
            }
        });

        $.ajax({
            type : 'POST',
            url : '@routes.SearchController.getCompanyCode',
            data : JSON.stringify(data),
            dataType: 'html',
            contentType: 'application/json',
            success : function(data) {
                console.log("Search Succeeded");
                console.log(data);
                alert("Results Found");
                var newPageURL = "/search/results=" + data
                window.location.href = newPageURL;
            },
            error : function(data) {
                console.log("Company Not Found");

                alert("Company Not Found")
            }
        });
    }
</script>
</html>
}
