@(resumes: List[Resume], company: Company)

@navBar("Search Results") {
<!DOCTYPE html>
<html>






<nav id="nav">
    <div class="innertube">
        <br>
        <h3>Search</h3>
        <ul>
            <li>Company</a></li>
            <li><input type="text" name="company" id="companyName"><br></li>
            <li><br></li>
            <li>Date Range:</li>
            <li>Start: </li>
            <li> <input type="text" name="startdate"></a></li></li>
            <li>End: </li>
            <li>  <input type="text" name="enddate"></li>
            <li><br></li>
            <li><button id="searchButton" onclick="searchByCompanyName()"> Start Search </button></li>
        </ul>


    </div>
</nav>

<div id="results">
    <h1>
        <center>Search Results</center>
    </h1>
    <ul>
        @for(a <- resumes) {
          <div class="resultCard">
                <a href='/resume/resume=@a.getResumeID()'>Resume Result for @company.getCompanyName()</a>
          </div>
        }
    </ul>
</div>

</body>

<script type="text/javascript">
    function searchByCompanyName() {
        console.log("Searching for Company Name in Database");
        var companyName = document.getElementById("companyName").value;
        var data = {"companyName" : companyName};
        $.ajax({
            type : 'POST',
            url : '@routes.SearchController.getCompanyCode',
            data : JSON.stringify(data),
            dataType: 'html',
            contentType: 'application/json',
            success : function(data) {
                console.log("Search Succeeded");
                console.log(data);
                alert("Results Found");
                var newPageURL = "/search/results=" + data
                window.location.href = newPageURL;
            },
            error : function(data) {
                console.log("Company Not Found");

                alert("Company Not Found")
            }
        });
    }
</script>
</html>
}