@(clubs: List[Clubs], internships: List[Interning], schools: List[Schooling], skills: List[Skills], pdfs: List[ResumePDF], resumeID: Long)

@navBar("Viewing Resume") {

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<br>
<br>
<p hidden id="resumeID">@resumeID</p>
<center>
<h1>Resume for Company</h1>
<div class="resultCard">
    <h1> Clubs </h1>
    @for(c <- clubs) {
    <h2>@c.getName()</h2><br>
    @c.getDesc()
    }

</div>
<div class="resultCard">
    <h1> Internships </h1>
    @for(c <- internships) {
    <h2>@c.getInternCompany()</h2><br>
    @c.getPosition()<br>
    @c.getDescription()
    }
</div>
<div class="resultCard">
    <h1> Schooling </h1>
    @for(c <- schools) {
    <h2>@c.getSchoolName()</h2><br>
    @c.getMajor()
    }
</div>
<div class="resultCard">
    <h1> Skills </h1>
    @for(c <- skills) {
    @c.getSkillField()<br>
    }
</div>
<div class="resultCard">
    <h1> PDFs </h1>
    @for(c <- pdfs) {
    <a href="@c.getPdfAWSPath()" target="_blank">Download PDF</a><br>
    }
</div>
<div class="buttonSpacer"></div>

<button onclick="editResume()">Edit Resume Information</button>
</center>



<script type="text/javascript">

    function editResume() {
        console.log("Sending to edit resume");
        var resumeID = document.getElementById("resumeID").innerText;
        var editURL = "/resume/edit/resume=" + resumeID;
        window.location.href = editURL;
    }


</script>

}
